.blog-header-wrapper{
	padding:0;
	margin:0;
	width:100vw;
	height:100vh;
	box-shadow: 0 5px 15px 2px #888;
}.blog-header-container{
	position:relative;
	width:inherit;
	height:inherit;
}
.blog-bg-container{
	position:absolute;
	top:0;
	left:0;
	width:inherit;
	height:inherit;	
}.blog-bg-container > img{
	width:inherit;
	height:inherit;	
}

.blog-header-title-container{
	position:absolute;
	top:20%;
	font-size:8vh;
	width:100%;
	text-align: center;
	z-index:11;
	color:white;
	letter-spacing: 1px;
}.blog-header-title-container > span{

	font-size:3.5vh;
}.blog-header-sub-sub-span{
	letter-spacing: 3px;
}